$Montserrat: (Bold, 700),('Medium', 500),('Regular', 400);

@each $name, $weight in $Montserrat {
    @font-face {
        font-family: 'Montserrat';
        src: url(../fonts/Montserrat/Montserrat-#{$name}.ttf);
        font-weight: $weight;
    }
}