/* SETTINGS */
* {
	font-family: Gilroy;
	font-style: normal;
	color: #333333;
}

p {
	margin-bottom: 0px;
}
.title {
	font-size: 24px;
	color: #333333;
	line-height: 28px;
}
.text {
	font-size: 18px;
	line-height: 22px;
}
.areas-pd {
	padding: 60px 0px
}
.areas-bg {
	background: #EBEBEB;
}

.heading {
	text-align: center;
}
.heading-title {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.heading-text {
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	padding: 0px 185px;
	color: #000000;
}

/* ./SETTINGS */



/* HEADER */
.header {
	padding: 31px 0px;
}
.header-info-box {
	border-bottom: 1px solid #E7E8E8; 
	padding-bottom: 21.5px;
}
.header-info__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: #7A7B7C;
}
.header-info__number {
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	text-transform: uppercase;
	margin-right: 25px;
}
.btn-warning {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	background: #FDD108;
	border-radius: 50px;
	padding: 14px 38px;
}
.btn-warning:focus {
	color: #333333;
	border-color: #FDD108;
	background-color:#FDD108;
	box-shadow: none;
}
.btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
	color: #333333;
	background-color: #FDD108;
	border-color: #FDD108;
	box-shadow: none;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus {
	box-shadow: none;
}
.navbar {
	padding: 32px 0px;
}
.nav-link {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #333333;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.nav-link:hover {
	color: #FDD108;
}
.navbar-toggler-icon {
	font-size: 24px;
}
.btn-warning:hover {
	background-color: transparent;
	border-color: #FDD108;
	color: #FDD108;
}

/* ./HEADR */

/* ENTER AREA */
.enter-area {
	background: #C4C4C4;
	background: radial-gradient(50% 50% at 50% 50%, rgba(231, 231, 231, 0.58) 0%, rgba(231, 231, 231, 0) 100%);
	background-image: url("../../img/gray-wallpaper-19 1.png");
	padding: 48px 0px 20px;
	background-attachment: fixed;
	background-position: center;
}
.enter-area__content-title {
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 21px;
}
.enter-area__content-img {
	margin-left:-30px;
}
.enter-area__content-text {
	font-weight: bold;
	margin: 23px 0px 10px;
}
.enter-area__order-form {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	padding: 35px 22px;
	overflow: hidden;
	position: relative;
	display: inline-block;
}
.order-form__box {
	margin-left: 35px;	
}
.order-form__title {
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #000000;
}
.order-form__vectors-box {
	position: absolute;
	top: 0px;
	left: 1px;
	display: flex;
}
.order-form__vectors {
	display: inline-block;
	background-color: #FDD108;
	width: 34px;
	height: 12px;
	margin: 0px 2px;
	transform: skew(-30deg);
}
.dark-vectors {
	background-color: #333333;
}
.form-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
}
.form-control {
	margin: 10px 11px;
	background: #FAFAFA;
	box-shadow: inset 2px 2px 10px #EBEBEB;
	border-radius: 3px;
	font-size: 14px;
	line-height: 16px;
	color: #A3A3A3;
	padding: 13px;
}
.select-control {
	padding: 7px 13px;
}
.form-control::placeholder {
	font-size: 14px;
	line-height: 16px;
	color: #A3A3A3;	
}
.order-form__btn {
	margin-top: 20px;
}
.order-form__buttom-text {
	margin-top: 15px;	
	font-size: 22px;
}

/* ./ENTER AREA */

/* PROMOTION AREA*/

.promotion-area__box {
	position: relative;
	margin: 30px 0px;
}

.promotion-area__box-bg img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
}

.promotion-area__content {
	margin: 35px 0px 90px;
}

.promotion-area__items-title {
	margin-bottom: 0px;
}

.promotion-area__items-img {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #FDD108;
	border-radius: 100%;
	height: 97px;
	width: 97px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.promotion-area__content-items {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	text-align: right;
	display: inline-block;
	padding: 15px 118px 11px 70px;
}

.promotion-area__content-items::after, .promotion-area__content-items::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 80px;
	background-color: #A3A3A3;
}

.promotion-area__content-items::after {
	transform: rotate(90deg);
	width: 90px;
}

.seo-promotion__item-position {
	margin-left: 120px;
}

.seo-promotion__item-position .promotion-area__content-items  {
	text-align: left;
	padding: 15px 70px 11px 118px;
}

.seo-promotion__item-position .promotion-area__content-items .promotion-area__items-img {
	left: 0px;
}

.seo-promotion__item-position .promotion-area__content-items::before {
	top: 20%;
	left: -39px;
	width: 50px;
}

.seo-promotion__item-position .promotion-area__content-items::after {
	top: 64px;
	left: -84px;
}
.seo-promotion__item-position.items-position::after {
	top: 140px;
	left: 91px;
}

.technical-spport__item-position {
	margin-left: 70px; 
}

.technical-spport__item-position .promotion-area__content-items::before {
	top: 50%;
	right: -90px;
	width: 90px;
}

.technical-spport__item-position .promotion-area__content-items::after {
	top: 106px;
	right: -148px;
	width: 115px;
}

.seo-promotion__item-position_bottom .promotion-area__content-items::before {
	top: 50%;
	right: -80px
}

.seo-promotion__item-position_bottom .promotion-area__content-items::after {
	width: 45px;
	top: 27px;
	right: -103px;
}

.seo-promotion__item-position_bottom.items-position::after {
	top: 35px;
	right: 67px;
}

.displaying-keywords__item-position_bottom {
	margin-left: 160px;
}
.displaying-keywords__item-position_bottom .promotion-area__content-items  {
	text-align: left;
	padding: 15px 48px 8px 118px;
}

.displaying-keywords__item-position_bottom .promotion-area__content-items .promotion-area__items-img {
	left: 0px;
}

.displaying-keywords__item-position_bottom .promotion-area__content-items::before {
	top: 50%;
	left: -105px;
	width: 105px;
}

.displaying-keywords__item-position_bottom .promotion-area__content-items::after {
	width: 45px;
	top: 25px;
	left: -128px;
}

.displaying-keywords__item-position_bottom.items-position::after {
	top: 30px;
	left: 64px;
}
.items-position::after {
	content: "";
	position: absolute;
	top: 190px;
	right: -19px;
	height: 11px;
	width: 11px;
	border-radius: 100%;
	background-color: #FDD108;
}

/* ./PROMOTION AREA */


/*INFO AREA*/
.info-area__items {
	position: relative;
	margin-top: 50px;
}
.items-content__heading-text {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.info-area__items-content__text {
	margin-top:12px 
}
.items-content__title {
	margin-left: 15px; 	
}
.info-area__items-number {
	position: relative;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	z-index: 0;
	margin-left: 5px;
}
.info-area__items-number img {
	position: absolute;
	position: absolute;
	left: -15px;
	z-index: -1;
	top: 2px;
}

/* ./INFO AREA */

/* WORKS AREA */

.works-area__items {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.works-area__heading-bg {
	background-image: url('../../img/heading-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 15px 0px 5px;
}
.works-area__items-title {
	font-weight: 500;
	margin: 10px 0px;
}
.works-area__items-text {
	font-weight: 300;
}
.items-icon {
	position: relative;
	text-align: center;
	width: 60px;
	height: 60px;
}

/* ./WORKS AREA */

/* RATES AREA */
.rates-area__box {
	margin-top: 60px;
}
.rates-area__items {
	background-color: #fff;
	padding: 33px 41px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.rates-area__items-title, .rates-area__items-price {
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-size: 24px;
}
.rates-area__items-price {
	margin-top: 9px;
	margin-bottom: 12px;
}
.rates-area__items-text {
	line-height: 26px;
	margin-bottom: 12px;
}

.rates-area__items-middle {
	background-color: #FDD108;
	height: 556px;
	transform: translateY(-34px);
}
.items-middle__btn {
	border-color: #333333;
}
.items-middle__btn:hover {
	border-color:#333333;
	color: #333333; 
}
.rates-area__box-icon {
	position: relative;	
	width: 102px;
	height: 102;
}
.rates-area__box-icon-middle {
	background-color: #333333;
}

/* ./RATES AREA*/


/* PRINCIPLE AREA*/

.principle-area__items {
	margin-top: 40px;
}
.principle-area__heading-bg {
	background-image: url('../../img/principle-heading-bg.png');
	background-repeat: no-repeat;
	padding: 35px 0px;
	background-size: contain;
	background-position: center;
}
.principle-area__items img {
	height: 100%;
}
.principle-area__items-title {
	margin-left: 11px;
	font-weight: 500;
	color: #000000;
}
.principle-area__items-text {
	font-weight: 300;
	color: #000000;
	padding-left: 30px;
}
.middle-img img {
	width: 100%
}

/* ./PRINCIPLE AREA */

/* CASES AREA */
.cases-area__box-img {
	margin: 20px 0px;
}
.cases-area__box-text {
	font-size: 24px;
}
.table thead th {
	vertical-align: baseline;
	border:none;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
	padding: 0px 10px 20px;
}
.table td, .table th {
	text-align: center;
	border:none;
	font-size: 16px;
	line-height: 280%;
	color: #484848;
	padding: 2px 15px;
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #F7F7F7;
}
.table tbody tr th, .table thead th {
	text-align: left;
}
.table-bottom-text {
	color: #333333;
	margin-top: 34px;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

}
.table thead tr th img {
	width: 100%;
}
.table-quantity {
	width: 29px;
	height: 29px;
	background-color: #FDD108;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0px 10px 55px;
}

.owl-nav button i {
	display: inline-block;
	background: #FFB401;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	height: 48px;
	width: 48px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border:1px solid #FDD108;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.owl-nav button .fa-arrow-left {
	position: absolute;
	top: 35%;
	right: 40px
}
.owl-nav button .fa-arrow-right {
	position: absolute;
	top: 35%;
	left: 40px;
}
.owl-nav button i:hover {
	color: #FDD108;
	background-color: transparent;
	border-color: #FDD108;
}


/* ./CASES AREA */

/* ORDER AREA */
.order-area__box {
	margin-top: 70px;
}

/* ./ORDER AREA */

/* FOOTER*/

.footer-nav .nav-item .nav-link  {
	display: inline-block;
}
.footer-navbar {
	padding: 0px;
}
.footer-info__box {
	margin: 11px 0px;
}
.footer-info__box-icon {
	color: #FDD108;
}
.footer-info__box-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	margin-left: 15px;
} 
.footer-bottom {
	background-color: #333333;
	padding: 16px 0px;
}
.footer-bottom__text {
	font-size: 18px;
	line-height: 138%;
	text-align: center;
	letter-spacing: 0.28px;
	color: #FFFFFF;
}

/* ./FOOTER AREA */

