/*fonts__________*/

@font-face {
    font-family: 'Avenir Next Cyr Light';
    src: url('../fonts/AvenirNextCyr-Light.eot');
    src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot');
    src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Medium';
    src: url('../fonts/AvenirNextCyr-Medium.eot');
    src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr Bold';
    src: url('../fonts/AvenirNextCyr-Bold.eot');
    src: url('../fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*other_styles______*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
}
a{
    text-decoration: none !important;
    transition: .2s ease;
}
a span{
    vertical-align: middle;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: #C62A2A;
    border: 1px solid #C62A2A;
    width: max-content;
    min-width: 233px;
    height: 50px;
    transition: .2s ease;
    border-radius: 0;
}
.btn:hover{
    background-color: #d64141;
    color: #fff;
}
.btn span{
    vertical-align: middle;
}
.btn svg{
    margin-right: 7px;
}
.more-link{
    font-size: 14px;
    line-height: 140%;
    color: #C62A2A;
}
.more-link:hover{
    color: #0038E0;
}
.more-link span{
    display: inline-block;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.more-link svg{
    margin-left: 5px;
    transition: .2s ease;
}
.more-link:hover svg{
    transform: translateX(2px);
    opacity: 0;
    pointer-events: none;
}
.more-link svg *{
    fill: #C62A2A;
}
.more-link:hover svg *{
    fill: #0038E0;
}

svg *{
    transition: .2s ease;
}
button, input, textarea{
    outline: none;
    transition: .2s ease;
}
button:focus, input:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}
input:focus, input:active, textarea:focus{
    border-color: #0038E0 !important;
}
.btn.focus, .btn:focus{
    outline: none;
    box-shadow: none;
}
textarea{
    resize: none;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-light{
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7);
}

body{
    font-family: 'Avenir Next Cyr', sans-serif;
    color: #000;
}

h1{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #333;
}
h1 span{
    color: #0038E0;
}
h2{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h4{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
}
h5{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}
p{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
}
.sub-title{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #C62A2A;
    margin-bottom: 20px;
}
.text-article{
    position: relative;
    z-index: 0;
}
.text-article::before{
    content: '';
    position: absolute;
    width: 236px;
    height: 236px;
    background: url('../img/icons/quote.svg') no-repeat center/contain;
    top: -130px;
    right: 0;
    z-index: -1;
}

#wrapper{
    overflow: hidden;
    position: relative;
}

#overlay{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(30px);
    z-index: -10;
}

.header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.header *{
    transition: .2s ease;
}
.header-top{
    background-color: #333;
    padding: 10px 0;
}
.header-top .header-top__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.header-top .header-top__wrap p{
    font-size: 12px;
    line-height: 18px;
    color: #B6BBCC;
    margin-bottom: 0;
}
.header-top .header-top__wrap >ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-top .header-top__wrap >ul li{
    margin-right: 75px;
}
.header-top .header-top__wrap >ul li:last-child{
    margin-right: 0;
}
.header-top .header-top__wrap >ul li a{
    display: block;
    font-size: 12px;
    line-height: 100%;
    color: #B6BBCC;
}
.header-top .header-top__wrap >ul li a:hover{
    color: #e9e9e9;
}
.header-top .header-top__wrap >ul li a >svg *{
    fill: #B6BBCC;
}
.header-top .header-top__wrap >ul li a:hover >svg *{
    fill: #e9e9e9;
}
.header-top >ul li a span{
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.header-center .header-center__wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    position: relative;
}
.header-center .header-center__wrap::before{
    content: '';
    position: absolute;
    background: url('../img/icons/line-gradient.svg') no-repeat center/contain;
    width: 97%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header-center .logo a{
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    max-width: 94px;
}
.header-center .logo a img{
    width: 100%;
}
.header-center .logo span{
    vertical-align: middle;
    display: inline-block;
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #7A7B7C;
    max-width: 330px;
}
.header-center .contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-center .contacts a{
    margin-right: 75px;
}
.header-center .contacts a:last-child{
    margin-right: 0;
}
.header-center .contacts .call-link{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.header-center .contacts .call-link:hover{
    color: #2161AE;
}
.header-center .contacts .btn svg *{
    fill: #fff;
}
.header-bottom .header-bottom__wrap{
    padding-left: 15px;
    padding-right: 15px;
}
.header .navbar{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.header .navbar .nav-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header .navbar .nav-item .nav-link{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333;
    padding-left: 0;
    padding-right: 0;
}
.header .navbar .nav-item .nav-link:hover{
    color: #2161AE;
}
.header.js-header-fixed .header-center .logo a{
    max-width: 60px;
    margin-right: 10px;
}
.header.js-header-fixed .header-center .logo span{
    max-width: 300px;
    font-size: 13px;
}
.header.js-header-fixed .header-center .contacts .call-link{
    font-size: 24px;
    margin-right: 30px;
}
.header.js-header-fixed .header-center .contacts .btn{
    font-size: 13px;
    min-width: 215px;
    height: 45px;
}

.hero{
    padding-top: 0;
    padding-bottom: 0;
}
.hero h1{
    margin-bottom: 40px;
}
.hero-swiper .swiper-slide{
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-swiper__item{
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-swiper .swiper-pagination{
    position: relative;
    text-align: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    bottom: 125px;
}
.hero-swiper .swiper-pagination-bullet{
    background-color: #E3E3E3;
    opacity: 1;
}
.hero-swiper .swiper-pagination-bullet-active{
    background-color: #00B2FF;
}

.about img{
    object-fit: cover;
}
.about-left p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;
}
.about-left >ul{
    width: 80%;
}
.about-left >ul li{
    font-size: 18px;
    line-height: 150%;
}
.about-right .col-lg-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.about-right .col-lg-6 svg{
    margin-bottom: 15px;
}
.about-right .col-lg-6 p{
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    text-align: center;
}

.lesson .lesson-item__wrap{
    margin-bottom: 50px;
}
.lesson .lesson-item{
    background-color: #fff;
    padding: 22px 16px;
    height: 100%;
    min-height: 438px;
}
.lesson .lesson-item img{
    width: 100%;
    margin-bottom: 13px;
}
.lesson .lesson-item h4{}
.lesson .lesson-item p{
    letter-spacing: 0.03em;
}

.school h2{
    margin-bottom: 40px;
}
.school .col-lg-12 h2{
    margin-bottom: 15px;
}
.school-wrap{
    margin-bottom: 80px;
}
.school-wrap:last-child{
    margin-bottom: 0;
}
.school .col-3__item-wrap{
    margin-bottom: 40px;
}
.school .col-3__item{
    height: 100%;
}
.school .col-3__item ul li{
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
}
.school .col-3__item svg{
    margin-bottom: 15px;
}
.school .col-3__item h4{
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    font-weight: 500;
}
.school .col-3__item h4 span{
    color: #C62A2A;
}
.school .col-3__item h4 span{
    color: #C62A2A;
}
.school .col-3__item p{
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
}

.specialists-item__wrap{
    margin-bottom: 30px;
}
.specialists-item{
    padding: 22px;
    height: 100%;
}
.specialists-item .specialists-item__header{
    padding-bottom: 20px;
}
.specialists-item .specialists-item__header img{
    width: 100%;
}
.specialists-item .specialists-item__body h4{
    line-height: 130%;
    margin-bottom: 12px;
}
.specialists-item .specialists-item__body small{
    display: inline-block;
    font-size: 15px;
    line-height: 140%;
    color: #00B2FF;
    margin-bottom: 15px;
}
.specialists-item .specialists-item__body ul{
    margin-bottom: 15px;
}
.specialists-item .specialists-item__body ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    line-height: 140%;
    color: #505152;
    margin-bottom: 10px;
}
.specialists-item .specialists-item__body ul li:last-child{
    margin-bottom: 0;
}
.specialists-item .specialists-item__body ul li svg{
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}
.specialists-item .specialists-item__body ul li p{
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin-bottom: 0;
}
.specialists-item .specialists-item__body ul li p strong{
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    font-weight: 500;
}
.specialists-item .specialists-item__body >p{
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #808080;
}
.specialists-item .specialists-item__footer{
    padding-top: 90px;
}

.feedback-form{
    margin-bottom: 20px;
}
.feedback-form h2{
    font-size: 36px;
    line-height: 135.4%;
    text-transform: initial;
    color: #333;
    margin-bottom: 15px;
}
.feedback-form .sub-title{
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.4%;
    text-align: center;
    color: #000;
    margin-bottom: 45px;
}
.feedback-form__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.feedback-form .form-group{
    width: 48%;
    margin-bottom: 20px;
}
.feedback-form .form-group label{
    width: 100%;
}
.feedback-form input, .feedback-form textarea{
    width: 100%;
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    background-color: transparent;
    padding: 8px 0;
    border: 0;
    border-bottom: 1px solid #767676;
}
.feedback-form .form-group input::placeholder,
.feedback-form textarea::placeholder{
    color: #767676;
    transition: .2s ease;
}
.feedback-form .form-group input:focus::placeholder,
.feedback-form textarea:focus::placeholder{
    opacity: .5;
    font-size: 90%;
}
.feedback-form textarea{
    margin-bottom: 20px;
}
.feedback-form .user-consent input{
    display: none;
}
.feedback-form .user-consent label{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 30px;
}
.feedback-form .user-consent label::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #B4B4B4;
    top: 2px;
    left: 0;
}
.feedback-form .user-consent label::after{
    display: none;
    content: '';
    position: absolute;
    background: url('../img/icons/yes.svg') no-repeat center/contain;
    width: 22px;
    height: 22px;
    top: -5px;
    left: -4px;
}
.feedback-form .user-consent input[type="checkbox"]:checked + label:after{
    display: inline-block;
}
.feedback-form .user-consent label a{
    display: inline;
    color: #036DCF;
}
.feedback-form .user-consent label a span{
    display: inline;
    color: #333;
}
.feedback-form .btn{
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.gallery .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.gallery-swiper{
    padding-bottom: 50px;
}
.gallery-swiper .swiper-slide{
    width: 100%;
    max-width: 770px;
}
.gallery-swiper .swiper-slide img{
    width: 100%;
    height: 530px;
    object-fit: cover;
}
.swiper-button-prev svg *, .swiper-button-next svg *{
    fill: #00B2FF;
}
.gallery-swiper .swiper-button-prev, .gallery-swiper .swiper-button-next{
    display: inline-block;
    width: max-content;
    height: max-content;
    top: initial;
    bottom: 10px;
}
.gallery-swiper .swiper-button-prev:after, .gallery-swiper .swiper-button-next:after{
    font-size: 0;
}
.gallery-swiper .swiper-button-prev{
    left: 40.5%;
}
.gallery-swiper .swiper-button-next{
    right: 40.5%;
}
.gallery-swiper .swiper-pagination-bullet{
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    line-height: 15px;
    color: #333;
    opacity: 1;
    transition: .1s ease;
    margin: 0 5px !important;
}
.gallery-swiper .swiper-pagination-bullet-active{
    color: #00B2FF;
    margin-right: 48px !important;
}
.gallery-swiper .swiper-pagination-bullet-active::before{
    content: '';
    position: absolute;
    background-color: #00B2FF;
    width: 33px;
    height: 1px;
    top: 7px;
    left: 200%;
}
.gallery-swiper .swiper-pagination-bullet-active:last-child{
    margin-right: initial !important;
    margin-left: 48px !important;
}
.gallery-swiper .swiper-pagination-bullet-active:last-child:before{
    left: initial;
    right: 200%;
}

.news-wrap{
    position: relative;
    z-index: 0;
}
.news-wrap::before{
    content: '';
    position: absolute;
    background: url('../img/news/news-bg.jpg') no-repeat center/cover;
    width: 97.4%;
    height: 85%;
    top: 5px;
    left: 49.9%;
    transform: translateX(-50%);
}
.news-wrap.length-big-three:before{
    height: 95%;
}
.news-item__wrap{
    margin-bottom: 25px;
}
.news-item{
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.news-item__header{
    padding: 30px 20px 0;
}
.news-item__header img{
    width: 100%;
}
.news-item__body{
    padding: 20px;
}
.news-item__body h4{
    margin-bottom: 10px;
}
.news-item__body p{
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
}
.news-item__footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-top: 1px solid #EBEBEB;
}
.news-item__footer >ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.news-item__footer >ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 12px;
}
.news-item__footer >ul li:last-child{
    margin-right: 0;
}
.news-item__footer >ul li svg{
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
}
.news-item__footer >ul li p{
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    margin-bottom: 0;
}

.footer h5{
    color: #fff;
}
.footer-top{
    background-color: #333;
    padding-top: 45px;
    padding-bottom: 35px;
}
.footer-top__wrap{
    align-items: flex-start;
}
.footer-top__wrap >div{
    padding-right: 15px;
    padding-left: 15px;
}
.footer-logo{
    width: 32%;
    display: flex;
    align-items: center;
}
.footer-logo img{
    max-width: 122px;
    margin-right: 15px;
}
.footer-logo span{
    display: inline-block;
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #D0D0D0;
}
.footer-navbar{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}
.footer-navbar__list{
    width: 50%;
}
.footer-navbar__list li{
    font-size: initial;
    line-height: initial;
    margin-bottom: 10px;
}
.footer-navbar__list li:last-child{
    margin-bottom: 0;
}
.footer-navbar__list li a{
    font-family: 'Avenir Next Cyr Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.footer-navbar__list li a:hover{
    color: #00B2FF;
}
.footer-contacts{
    width: 18%;
}
.footer-contacts__address li{
    margin-bottom: 15px;
}
.footer-contacts__address li:last-child{
    margin-bottom: 0;
}
.footer-contacts__address li a{
    display: flex;
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
}
.footer-contacts__address li a:hover{
    color: #00B2FF;
}
.footer-contacts__address li a svg{
    display: block;
    min-width: 18px;
    min-height: 18px;
    margin-right: 5px;
}
.footer-contacts__address li a svg *{
    fill: #E3E3E3;
}
.footer-contacts__address li a:hover svg *{
    fill: #e9e9e9;
}
.footer-social{
    width: 18%;
}
.footer-social__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.footer-social__list li{
    margin-right: 20px;
}
.footer-social__list li:last-child{
    margin-right: 0;
}
.footer-social__list li a svg{
    transition: .2s ease;
}
.footer-social__list li a svg *{
    fill: #c1c1c1;
}
.footer-social__list li a:hover svg{
    transform: scale(1.1);
}
.footer-social__list li a:hover svg *{
    fill: #e9e9e9;
}
.footer-social .date-list li{
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}
.footer-bottom{
    background-color: #EBEBEB;
    padding: 7px 0;
}
.footer-bottom p{
    font-family: 'Avenir Next Cyr Light', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 145%;
    color: #3A3A3A;
    margin-bottom: 0;
    text-align: center;
}


/*media-queries*/
@media (min-width: 576px){
    .hero-swiper .swiper-pagination{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .hero-swiper .swiper-pagination{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .header .navbar .nav-item .arrow-open__list{
        display: none;
    }
    .header .navbar .nav-item .drop-list{
        position: absolute;
        background-color: #fff;
        padding: 15px 8px;
        min-width: 270px;
        top: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        visibility: hidden;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        z-index: -5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    }
    .header .navbar .nav-item:hover .drop-list{
        visibility: initial;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
        z-index: 5;
    }
    .header .navbar .nav-item .drop-list >li{
        width: 100%;
    }
    .header .navbar .nav-item .drop-list >li a{
        font-size: 14px;
        line-height: 17px;
        color: #000;
        transition: .2s ease;
        display: inline-block;
        width: 100%;
        padding: 8px 10px;
    }
    .header .navbar .nav-item .drop-list >li a:hover{
        background: rgba(0, 178, 255, 0.13);
    }
    .header__hamburger{
        display: none;
    }
    .hero-swiper .swiper-pagination{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .hero-swiper .swiper-pagination{
        max-width: 1140px;
    }
}

@media (max-width: 1600px){
    .header-center .logo a{
        margin-right: 20px;
    }
    .header-center .logo span{
        max-width: 300px;
    }
    .header-center .contacts .call-link{
        font-size: 32px;
    }
    .header-center .contacts a{
        margin-right: 50px;
    }
}
@media (max-width: 1440px){
    .btn{
        font-size: 13px;
        min-width: 225px;
    }
    h1{
        font-size: 32px;
        line-height: 140%;
    }
    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 17px;
        line-height: 145%;
    }
    .sub-title{
        font-size: 17px;
    }
    .header-center .logo a{
        max-width: 80px;
        margin-right: 10px;
    }
    .header-center .logo span{
        font-size: 13px;
        max-width: 280px;
    }
    .header-center .contacts .call-link{
        font-size: 28px;
        margin-right: 35px;
    }
    .header.js-header-fixed .header-center .logo span{
        max-width: 270px;
        font-size: 12px;
    }
    .header.js-header-fixed .header-center .contacts .call-link{
        font-size: 22px;
        margin-right: 25px;
    }
    .header.js-header-fixed .header-center .contacts .btn{
        font-size: 12px;
    }
    .hero-swiper__item{
        min-height: 540px;
    }
    .about-left p{
        font-size: 16px;
        line-height: 145%;
    }
    .about-left >ul{
        width: 70%;
    }
    .about-left >ul li{
        font-size: 16px;
    }
    .about-right .col-lg-6 p{
        font-size: 16px;
    }
    .lesson .lesson-item__wrap{
        margin-bottom: 25px;
    }
    .lesson .lesson-item{
        min-height: 425px;
    }
    .specialists-item .specialists-item__body small{
        font-size: 14px;
    }
    .specialists-item .specialists-item__body ul li{
        font-size: 14px;
    }
    .specialists-item .specialists-item__footer{
        padding-top: 70px;
    }
    .feedback-form h2{
        font-size: 30px;
    }
    .feedback-form .sub-title{
        font-size: 20px;
    }
    .feedback-form .btn{
        min-width: 320px;
    }
}
@media (max-width: 1280px){
    .btn{
        font-size: 12px;
        min-width: 210px;
        height: 45px;
    }
    h1{
        font-size: 30px;
    }
    .header-center .logo span{
        font-size: 12px;
        max-width: 260px;
    }
    .header-center .contacts .call-link{
        font-size: 24px;
        margin-right: 20px;
    }
    .header .navbar .nav-item .nav-link{
        font-size: 13px;
    }
    .header .navbar .nav-item .drop-list >li a{
        font-size: 13px;
    }
    .hero-swiper__item{
        min-height: 500px;
    }
    .header.js-header-fixed .header-top{
        padding: 8px 0;
    }
    .header.js-header-fixed .header-top .header-top__wrap p{
        font-size: 11px;
    }
    .header.js-header-fixed .header-top .header-top__wrap >ul li a{
        font-size: 11px;
    }
    .header.js-header-fixed .header-center .logo a{
        max-width: 50px;
    }
    .header.js-header-fixed .header-center .logo span{
        font-size: 11px;
        max-width: 240px;
    }
    .header.js-header-fixed .header-center .contacts .call-link{
        font-size: 20px;
        margin-right: 20px;
    }
    .header.js-header-fixed .header-center .contacts .btn {
        min-width: 205px;
        height: 40px;
    }
    .school-wrap{
        margin-bottom: 50px;
    }
    .school .col-3__item-wrap{
        margin-bottom: 30px;
    }
    .gallery{
        padding-bottom: 0;
    }
    .gallery-swiper .swiper-button-prev{
        left: 38%;
    }
    .gallery-swiper .swiper-button-next{
        right: 38%;
    }
    .gallery-swiper .swiper-pagination-bullet{
        margin: 0 10px !important;
    }
    .gallery-swiper .swiper-pagination-bullet-active{
        margin-right: 48px !important;
    }
    .news-item__header{
        padding: 20px 15px 0;
    }
    .footer-logo img{
        max-width: 110px;
    }
}
@media (max-width: 1024px){
    .more-link{
        font-size: 13px;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        margin-bottom: 10px;
    }
    p{
        font-size: 13px;
    }
    .hero-swiper__item{
        min-height: 420px;
    }
    .hero-swiper .swiper-pagination{
        bottom: 80px;
    }
    .about-left p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .about-right .col-lg-6{
        margin-bottom: 30px;
    }
    .about-right .col-lg-6 svg{
        width: 60px;
        height: 52px;
    }
    .about-right .col-lg-6 p{
        font-size: 14px;
    }
    .about-left >ul li{
        font-size: 14px;
    }
    .lesson .lesson-item{
        padding: 15px 12px;
        min-height: 390px;
    }
    .school .col-lg-12 h2{
        margin-bottom: 5px;
    }
    .text-article::before{
        width: 146px;
        height: 146px;
        top: -80px;
    }
    .school .col-3__item svg{
        width: 60px;
        height: 52px;
    }
    .specialists-item{
        padding: 5px;
    }
    .specialists-item .specialists-item__body h4{
        margin-bottom: 5px;
    }
    .specialists-item .specialists-item__body small{
        font-size: 13px;
    }
    .specialists-item .specialists-item__body ul li{
        font-size: 13px;
    }
    .specialists-item .specialists-item__body ul li svg{
        min-width: 15px;
        min-height: 15px;
    }
    .specialists-item .specialists-item__body >p{
        font-size: 13px;
    }
    .feedback-form h2{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .feedback-form .sub-title{
        font-size: 18px;
        margin-bottom: 35px;
    }
    .feedback-form input, .feedback-form textarea{
        font-size: 14px;
    }
    .feedback-form .user-consent label{
        font-size: 13px;
    }
    .feedback-form .btn{
        min-width: 280px;
    }
    .gallery-swiper .swiper-pagination-bullet{
        font-size: 14px;
    }
    .gallery-swiper .swiper-button-prev{
        left: 35%;
    }
    .gallery-swiper .swiper-button-next{
        right: 35%;
    }
    .news-item__header{
        padding: 15px 15px 0;
    }
    .news-item__body{
        padding: 15px;
    }
    .news-item__footer >ul li p{
        font-size: 11px;
    }
    .footer-logo img{
        max-width: 80px;
        margin-right: 10px;
    }
    .footer-navbar__list li{
        margin-bottom: 5px;
    }
    .footer-navbar__list li a{
        font-size: 12px;
    }
    .footer-contacts__address li{
        margin-bottom: 10px;
    }
    .footer-contacts__address li a{
        font-size: 12px;
    }
    .footer-social__list{
        margin-bottom: 15px;
    }
    .footer-social .date-list li{
        font-size: 13px;
    }
    .footer-bottom p{
        font-size: 13px;
    }
}
@media (max-width: 991px){
    .btn{
        min-width: 190px;
        height: 40px;
    }
    .btn svg{
        width: 20px;
        height: 20px;
    }
    h1{
        font-size: 26px;
    }
    h2{
        line-height: 24px;
        margin-bottom: 15px;
    }
    h4{
        font-size: 15px;
    }
    p{
        line-height: 19px;
    }
    .sub-title{
        font-size: 15px;
    }
    .header-top{
        padding: 8px 0;
    }
    .header-top .header-top__wrap p{
        font-size: 11px;
    }
    .header-top .header-top__wrap >ul li{
        margin-right: 25px;
    }
    .header-top .header-top__wrap >ul li a{
        font-size: 11px;
    }
    .header-top .header-top__wrap >ul li a svg{
        width: 14px;
        height: 14px;
    }
    .header-center .header-center__wrap::before{
        display: none;
    }
    .header-center .logo a{
        max-width: 50px;
        margin-right: 0;
    }
    .header-center .logo span{
        font-size: 10px;
        line-height: 110%;
        max-width: 170px;
    }
    .header-center .contacts{
        padding-right: 50px;
    }
    .header-center .contacts .call-link{
        font-size: 20px;
        margin-right: 15px;
    }
    .header .navbar{
        position: fixed;
        display: block;
        align-items: unset;
        justify-content: unset;
        flex-basis: unset;
        top: 0;
        left: -110vh;
        width: 300px;
        height: 100vh;
        padding: 30px 20px 20px 20px;
        opacity: 0;
        overflow-y: auto;
        background-color: #fff;
        transition: 0.3s;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.06);
    }
    .header .navbar.js-nav-active{
        left: 0;
        opacity: 1;
    }
    .header .navbar .nav-list .nav-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #c9c9c9;
        position: relative;
        margin-bottom: 5px;
    }
    .header .navbar .nav-list .nav-item:first-child{
        border-top: 1px solid #c9c9c9;
    }
    .header .navbar .nav-item .nav-link{
        font-family: 'Avenir Next Cyr Medium', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        padding: 10px 0;
    }
    .header .navbar .nav-item .drop-list >li a{
        display: block;
        font-family: 'Avenir Next Cyr Light', sans-serif;
        font-size: 13px;
        line-height: 17px;
        color: #000;
        padding: 8px 12px;
    }
    .header .navbar .nav-item .drop-list >li a:hover{
        background: rgba(0, 178, 255, 0.13);
    }
    .header .navbar .nav-list .nav-item .arrow-open__list{
        display: inline-block;
        margin-left: 10px;
        font-size: 24px;
        transition: .2s ease;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 10px;
    }
    .header .navbar .nav-list .nav-item .arrow-open__list *{
        fill: #333;
    }
    .header .navbar .nav-list .nav-item .arrow-open__list.active{
        transform: rotate(180deg);
    }
    .header .navbar .nav-item .drop-list{
        width: 100%;
        height: 0;
        overflow: hidden;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.04);
    }
    .header .navbar .nav-item .drop-list.active{
        height: initial;
        overflow: initial;
        padding: 5px 0;
    }
    .header .header__hamburger{
        position: absolute;
        top: 57%;
        right: 15%;
        width: 32px;
        height: 20px;
        transition: 0.5s ease-in-out;
        z-index: 14;
        cursor: pointer;
    }
    .header .header__hamburger span{
        position: absolute;
        left: 0;
        transform: rotate(0);
        width: 100%;
        height: 3px;
        border-radius: 9px;
        background-color: #C62A2A;
        transition: 0.25s ease-in-out;
    }
    .header .header__hamburger span:nth-child(1){
        top: 0;
    }
    .header .header__hamburger span:nth-child(2),
    .header .header__hamburger span:nth-child(3){
        top: 8px;
    }
    .header .header__hamburger span:nth-child(4){
        top: 16px;
    }
    .header .header__hamburger.js-open span:nth-child(1),
    .header .header__hamburger.js-open span:nth-child(4){
        top: 18px;
        left: 50%;
        transform: scale(0) rotate(0);
        width: 0;
    }
    .header .header__hamburger.js-open span:nth-child(2){
        transform: rotate(45deg);
        background-color: #bbb;
    }
    .header .header__hamburger.js-open span:nth-child(3){
        transform: rotate(-45deg);
        background-color: #bbb;
    }
    .header.js-header-fixed .header-center .contacts .call-link{
        font-size: 20px;
        margin-right: 15px;
    }
    .header.js-header-fixed .header-center .contacts .btn{
        min-width: 190px;
        height: 40px;
    }
    .header.js-header-fixed .header-center .logo a{
        max-width: 50px;
        margin-right: 0;
    }
    .header.js-header-fixed .header-center .logo span{
        font-size: 10px;
        line-height: 110%;
        max-width: 170px;
    }
    .hero h1{
        margin-bottom: 30px;
    }
    .hero-swiper__item{
        min-height: 400px;
    }
    .about-wrap >div{
        margin-bottom: 30px;
    }
    .about-wrap >div:last-child{
        margin-bottom: 0;
    }
    .lesson .lesson-item{
        padding: 15px;
        min-height: 440px;
    }
    .school .col-lg-12 h2{
        margin-bottom: 0;
    }
    .school-wrap{
        margin-bottom: 20px;
    }
    .text-article::before{
        width: 106px;
        height: 106px;
        top: -20px;
    }
    .specialists-item__wrap{
        margin-bottom: 20px;
    }
    .specialists-item{
        padding: 0;
    }
    .specialists-item .specialists-item__footer{
        padding-top: 10px;
    }
    .specialists-wrap .col-lg-12.d-flex{
        margin-top: 20px;
    }
    .feedback-form h2{
        font-size: 24px;
    }
    .feedback-form .sub-title{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .feedback-form .btn{
        min-width: 240px;
    }
    .news-wrap::before, .news-wrap.length-big-three:before{
        height: 91%;
    }
    .footer-bottom p{
        font-size: 12px;
    }
    .footer-top__wrap >div{
        width: 50%;
        min-height: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .header-center .logo span{
        display: none;
    }
    .header .header__hamburger{
        right: 5%;
    }
    .hero-swiper .swiper-slide{
        position: relative;
    }
    .hero-swiper .swiper-slide::before{
        content: '';
        position: absolute;
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 767px){
    h4{
        font-size: 14px;
        line-height: 125%;
    }
    .header-center .logo span{
        display: inline-block;
    }
    .header-center .contacts .call-link{
        line-height: initial;
    }
    .header-center .contacts .call-link svg *{
        fill: #fff;
    }
    .header-center .contacts .btn{
        min-width: initial;
    }
    .header-center .contacts .btn svg{
        margin-right: 0;
    }
    .header-center .contacts a{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00B2FF;
        border-color: #00B2FF;
        padding: 0;
        margin-right: 15px;
    }
    .header-center .contacts a:last-child{
        margin-right: 0;
    }
    .header-center .contacts a svg *{
        fill: #fff;
    }
    .header-center .contacts .btn span{
        display: none;
    }
    .header .header__hamburger{
        top: 58%;
        right: 17%;
    }
    .header .header__hamburger span{
        background-color: #00B2FF;
    }
    .hero-swiper .swiper-slide{
        background-size: cover;
    }
    .hero-swiper__item{
        min-height: 470px;
    }
    .gallery-swiper .swiper-slide img{
        height: 500px;
    }
    .gallery-swiper .swiper-button-prev{
        left: 30%;
    }
    .gallery-swiper .swiper-button-next{
        right: 30%;
    }
    .footer-top{
        padding-top: 25px;
    }
    .footer-top__wrap >div{
        width: 100%;
        margin-bottom: 25px;
    }
    .footer-top__wrap >div:last-child{
        margin-bottom: 0;
    }
    .footer-navbar__list{
        width: 100%;
        margin-bottom: 15px;
    }
    .footer-navbar__list:last-child{
        margin-bottom: 0;
    }
}
@media (max-width: 575px){
    section{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    h2{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 16px;
        line-height: 135%;
    }
    .header-top{
        padding: 5px 0;
    }
    .header-top .header-top__wrap p{
        font-size: 10px;
    }
    .header-top .header-top__wrap >ul li{
        margin-right: 15px;
    }
    .header-top .header-top__wrap >ul li a{
        font-size: 10px;
    }
    .header-top .header-top__wrap >ul li a svg{
        width: 12px;
        height: 12px;
    }
    .header .header__hamburger{
        top: 55%;
        right: 3%;
    }
    .about-right .col-lg-6{
        margin-bottom: 25px;
    }
    .lesson .lesson-item__wrap:last-child{
        margin-bottom: 0;
    }
    .school-wrap{
        margin-bottom: 0;
    }
    .feedback-form{
        margin-bottom: 0;
    }
    .feedback-form h2{
        font-size: 22px;
    }
    .feedback-form .sub-title{
        font-size: 16px;
    }
    .feedback-form .user-consent label{
        line-height: 125%;
    }
    .gallery-swiper .swiper-button-prev{
        left: 24%;
    }
    .gallery-swiper .swiper-button-next{
        right: 24%;
    }
    .gallery-swiper .swiper-pagination-bullet{
        margin: 0 5px !important;
    }
    .gallery-swiper .swiper-pagination-bullet-active{
        margin-right: 48px !important;
    }
    .news-item__wrap:last-child{
        margin-bottom: 0;
    }
}
@media (max-width: 425px){
    section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .btn{
        max-width: 180px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 15px;
    }
    h4{
        font-size: 15px;
    }
    .sub-title{
        font-size: 14px;
        line-height: 125%;
        margin-bottom: 15px;
    }
    .header-top{
        padding-top: 8px;
        padding-bottom: 3px;
    }
    .header-top .header-top__wrap p{
        display: none;
    }
    .header-top .header-top__wrap >ul{
        width: 100%;
        justify-content: space-between;
    }
    .header-top .header-top__wrap >ul li{
        margin-bottom: 5px;
    }
    .header-top .header-top__wrap >ul li a{
        font-size: 11px;
    }
    .header-center .logo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .header-center .logo a{
        max-width: 35px;
        margin-right: 5px;
    }
    .header .header__hamburger{
        right: 4%;
    }
    .hero-swiper .swiper-slide{
        background-position: center;
    }
    .hero-swiper__item{
        min-height: 400px;
    }
    .about-left p{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .about-left >ul{
        width: 100%;
    }
    .about-left >ul li{
        font-size: 13px;
    }
    .about-right .col-lg-6 p{
        font-size: 13px;
        line-height: 140%;
    }
    .school .col-lg-12 h2{
        margin-bottom: 5px;
    }
    .feedback-form h2{
        font-size: 18px;
    }
    .feedback-form .sub-title{
        font-size: 14px;
    }
    .feedback-form .form-group{
        width: 100%;
    }
    .feedback-form textarea{
        margin-bottom: 30px;
    }
    .gallery-swiper .swiper-slide img{
        height: 360px;
    }
    .gallery-swiper .swiper-button-prev{
        left: 16%;
    }
    .gallery-swiper .swiper-button-next{
        right: 16%;
    }
    .news-wrap::before{
        width: 100%;
        height: 100%;
    }
    .news-wrap::before, .news-wrap.length-big-three:before{
        height: 100%;
    }
    .footer-logo img{
        max-width: 60px;
    }
    .footer-bottom p{
        font-size: 11px;
    }
}
@media (max-width: 375px){
    .header-top{
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .header-center .header-center__wrap{
        padding: 10px 15px;
    }
    .header-center .logo span{
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 120px;
        height: 25px;
    }
    .header-center .contacts{
        padding-right: 42px;
    }
    .header-center .contacts .call-link{
        margin-right: 10px;
    }
    .header .navbar .nav-item .nav-link{
        font-size: 13px;
    }
    .header .header__hamburger{
        top: 57%;
    }
    .lesson .lesson-item{
        min-height: 410px;
    }
    .footer-logo img{
        max-width: 50px;
    }
}
@media (max-width: 320px){
    h1{
        font-size: 18px;
        line-height: 125%;
    }
    h4{
        font-size: 14px;
    }
    .sub-title{
        font-size: 13px;
    }
    .header-top .header-top__wrap >ul li a{
        font-size: 10px;
    }
    .header-center .logo span{
        max-width: 110px;
    }
    .header-center .contacts{
        padding-right: 38px;
    }
    .header .header__hamburger{
        top: 57%;
        width: 30px;
    }
    .hero-swiper__item{
        min-height: 340px;
    }
    .about-right .col-lg-6 p{
        font-size: 12px;
        line-height: 125%;
    }
    .lesson .lesson-item{
        min-height: 360px;
    }
    .feedback-form .sub-title{
        font-size: 13px;
    }
    .feedback-form .user-consent label{
        line-height: 105%;
    }
    .gallery-swiper .swiper-slide img{
        height: 340px;
    }
    .gallery-swiper .swiper-button-prev{
        left: 8%;
    }
    .gallery-swiper .swiper-button-next{
        right: 8%;
    }
    .footer-logo span{
        font-size: 10px;
    }
}